
/* Import fonts */
@import '../vendor/fonts/fonts.css';

/* Styles for the basic layout */
@import 'base/variables.css';
@import 'base/performance.css';

/* Styles for the animations */
@import 'animations/keyframes.css';
@import 'animations/input-animations.css';

/* Import layout components */
@import 'components/layout.css';

/* Import functional components */
@import 'components/clock.css';
@import 'components/diary.css';
@import 'components/history.css';
@import 'components/search.css';
@import 'components/tags.css';
@import 'style.css';

/* Finally, override the theme */
@import 'themes/dark.css';

/* Styles for the default layout */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
